In [1]:
import pandas as pd
import os
import glob

### 1     Merging CSVs

https://www.techbeamers.com/pandas-merge-csv-files/

In [2]:
#pd.read_csv('./Sales_Data/Sales_April_2019.csv')

In [3]:
path = './Sales_Data/'

In [4]:
list_of_files = [file for file in os.listdir(path)]
print(list_of_files)

['Sales_December_2019.csv', 'Sales_April_2019.csv', 'Sales_February_2019.csv', 'Sales_March_2019.csv', 'Sales_August_2019.csv', 'Sales_May_2019.csv', 'Sales_November_2019.csv', 'Sales_October_2019.csv', 'Sales_January_2019.csv', 'Sales_September_2019.csv', 'Sales_July_2019.csv', 'Sales_June_2019.csv']

In [5]:
filenames = glob.glob(path + "/*.csv")

In [6]:
print(filenames)

['./Sales_Data/Sales_December_2019.csv', './Sales_Data/Sales_April_2019.csv', './Sales_Data/Sales_February_2019.csv', './Sales_Data/Sales_March_2019.csv', './Sales_Data/Sales_August_2019.csv', './Sales_Data/Sales_May_2019.csv', './Sales_Data/Sales_November_2019.csv', './Sales_Data/Sales_October_2019.csv', './Sales_Data/Sales_January_2019.csv', './Sales_Data/Sales_September_2019.csv', './Sales_Data/Sales_July_2019.csv', './Sales_Data/Sales_June_2019.csv']

In [7]:
li = []

for filename in filenames:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)

In [8]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [9]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [10]:
print(df['Order Date'][0])
print(df['Order Date'][0][:2])
int(df['Order Date'][0][:2])

12/30/19 00:01
12

12

# What was best month for sales?

In [11]:
type(df['Order Date'].str[:2])

pandas.core.series.Series

In [12]:
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [13]:
df['Month'] = df['Order Date'].str[:2]

In [14]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001",12
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12

In [15]:
df['Month'] = pd.to_numeric(df['Month'])

ValueError: Unable to parse string "Or" at position 254

In [16]:
df[df['Month']=='Or'].head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
254,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
705,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1101,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2875,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
3708,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or

In [17]:
df = df.dropna()

In [18]:
df[df['Month']=='Or'].head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
254,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
705,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1101,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2875,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
3708,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or

In [19]:
df = df[df['Month'] != 'Or']

In [20]:
df['Month'] = pd.to_numeric(df['Month'])

In [21]:
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
Month                int64
dtype: object

In [22]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
df['Price Each'] = pd.to_numeric(df['Price Each'])

In [23]:
df.dtypes

Order ID             object
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
Month                 int64
dtype: object

In [24]:
df['Total Sale'] = df['Quantity Ordered'] * df['Price Each']

In [25]:
df = df.drop(columns='Quantityt Ordered')

KeyError: "['Quantityt Ordered'] not found in axis"

In [26]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Sale
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",12,1700.00
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12,600.00
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12,11.95
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12,149.99
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95

In [27]:
month_df = df.groupby('Month')

In [28]:
month_df.sum()

       Quantity Ordered    Price Each    Total Sale
Month
1                 10903  1.811768e+06  1.822257e+06
2                 13449  2.188885e+06  2.202022e+06
3                 17005  2.791208e+06  2.807100e+06
4                 20558  3.367671e+06  3.390670e+06
5                 18667  3.135125e+06  3.152607e+06
6                 15253  2.562026e+06  2.577802e+06
7                 16072  2.632540e+06  2.647776e+06
8                 13448  2.230345e+06  2.244468e+06
9                 13109  2.084992e+06  2.097560e+06
10                22703  3.715555e+06  3.736727e+06
11                19798  3.180601e+06  3.199603e+06
12                28114  4.588415e+06  4.613443e+06

In [32]:
df['Purchase Address'].head()

0    136 Church St, New York City, NY 10001
1       562 2nd St, New York City, NY 10001
2      277 Main St, New York City, NY 10001
3       410 6th St, San Francisco, CA 94016
4             43 Hill St, Atlanta, GA 30301
Name: Purchase Address, dtype: object

In [42]:
df['City'] = df['Purchase Address'].str.split(pat=',', expand=True)[1]

In [43]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Sale,City
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta

In [44]:
df.groupby('City').sum()

                Quantity Ordered    Price Each   Month    Total Sale
City
 Atlanta                   16602  2.779908e+06  104794  2.795499e+06
 Austin                    11153  1.809874e+06   69829  1.819582e+06
 Boston                    22528  3.637410e+06  141112  3.661642e+06
 Dallas                    16730  2.752628e+06  104620  2.767975e+06
 Los Angeles               33289  5.421435e+06  208325  5.452571e+06
 New York City             27932  4.635371e+06  175741  4.664317e+06
 Portland                  14053  2.307747e+06   87765  2.320491e+06
 San Francisco             50239  8.211462e+06  315520  8.262204e+06
 Seattle                   16553  2.733296e+06  104941  2.747755e+06

In [61]:
df['City'] + ' ' + df['Purchase Address']

0          New York City 136 Church St, New York City, N...
1          New York City 562 2nd St, New York City, NY 1...
2          New York City 277 Main St, New York City, NY ...
3          San Francisco 410 6th St, San Francisco, CA 9...
4                     Atlanta 43 Hill St, Atlanta, GA 30301
5          New York City 200 Jefferson St, New York City...
6                  Portland 928 12th St, Portland, OR 97035
7                   Dallas 813 Hickory St, Dallas, TX 75001
8                    Dallas 718 Wilson St, Dallas, TX 75001
9                        Dallas 77 7th St, Dallas, TX 75001
10         San Francisco 594 1st St, San Francisco, CA 9...
11         Los Angeles 410 Lincoln St, Los Angeles, CA 9...
12                     Boston 866 Pine St, Boston, MA 02215
13                  Dallas 187 Lincoln St, Dallas, TX 75001
14                      Dallas 902 2nd St, Dallas, TX 75001
15                     Austin 338 Main St, Austin, TX 73301
16                       Boston 79 Elm St, Boston, MA 02215
17                       Boston 79 Elm St, Boston, MA 02215
18                       Boston 79 Elm St, Boston, MA 02215
19                       Boston 79 Elm St, Boston, MA 02215
20                  Portland 780 Elm St, Portland, OR 97035
21         San Francisco 341 Lake St, San Francisco, CA ...
22         San Francisco 936 Church St, San Francisco, C...
23         San Francisco 662 Ridge St, San Francisco, CA...
24                Portland 573 Maple St, Portland, ME 04101
25                    Boston 531 Ridge St, Boston, MA 02215
26           Los Angeles 546 Park St, Los Angeles, CA 90001
27         San Francisco 173 Lake St, San Francisco, CA ...
28                  Seattle 174 Cedar St, Seattle, WA 98101
29         Los Angeles 102 Johnson St, Los Angeles, CA 9...
                                ...
186820     Los Angeles 990 Walnut St, Los Angeles, CA 90001
186821     San Francisco 508 West St, San Francisco, CA ...
186822     New York City 819 Pine St, New York City, NY ...
186823     New York City 819 Pine St, New York City, NY ...
186824     New York City 447 Spruce St, New York City, N...
186825             Portland 703 14th St, Portland, ME 04101
186826                  Austin 801 9th St, Austin, TX 73301
186827                  Boston 615 Elm St, Boston, MA 02215
186828       Los Angeles 448 10th St, Los Angeles, CA 90001
186829     San Francisco 665 South St, San Francisco, CA...
186830     New York City 99 Lincoln St, New York City, N...
186831     New York City 23 1st St, New York City, NY 10001
186832     Los Angeles 802 Church St, Los Angeles, CA 90001
186833               Seattle 449 12th St, Seattle, WA 98101
186834     San Francisco 497 1st St, San Francisco, CA 9...
186835     New York City 594 Meadow St, New York City, N...
186836     San Francisco 350 10th St, San Francisco, CA ...
186837     San Francisco 798 Park St, San Francisco, CA ...
186838     New York City 688 1st St, New York City, NY 1...
186839     Los Angeles 590 Wilson St, Los Angeles, CA 90001
186840              Atlanta 891 South St, Atlanta, GA 30301
186841               Atlanta 847 Main St, Atlanta, GA 30301
186842     New York City 685 Hickory St, New York City, ...
186843     New York City 685 Hickory St, New York City, ...
186844        Los Angeles 975 2nd St, Los Angeles, CA 90001
186845                 Boston 795 Pine St, Boston, MA 02215
186846     New York City 495 North St, New York City, NY...
186847     San Francisco 319 Ridge St, San Francisco, CA...
186848     San Francisco 916 Main St, San Francisco, CA ...
186849               Atlanta 209 11th St, Atlanta, GA 30301
Length: 185950, dtype: object

In [51]:
df['Purchase Address'].str.split(pat=',', expand=True)[2].head()

0     NY 10001
1     NY 10001
2     NY 10001
3     CA 94016
4     GA 30301
Name: 2, dtype: object

In [58]:
df['State'] = df['Purchase Address'].str.split(pat=',', expand=True)[2]
df['State'] = df['State'].str.split(pat=' ', expand=True)[1]

In [60]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Sale,City,State
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",12,1700.00,New York City,NY
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12,600.00,New York City,NY
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12,11.95,New York City,NY
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,CA
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,GA

In [64]:
df['City'] = df['City'] + ', ' + df['State']

In [65]:
df.groupby('City').sum()

                       Quantity Ordered    Price Each   Month    Total Sale
City
 Atlanta GA, GA                   16602  2.779908e+06  104794  2.795499e+06
 Austin TX, TX                    11153  1.809874e+06   69829  1.819582e+06
 Boston MA, MA                    22528  3.637410e+06  141112  3.661642e+06
 Dallas TX, TX                    16730  2.752628e+06  104620  2.767975e+06
 Los Angeles CA, CA               33289  5.421435e+06  208325  5.452571e+06
 New York City NY, NY             27932  4.635371e+06  175741  4.664317e+06
 Portland ME, ME                   2750  4.471893e+05   17144  4.497583e+05
 Portland OR, OR                  11303  1.860558e+06   70621  1.870732e+06
 San Francisco CA, CA             50239  8.211462e+06  315520  8.262204e+06
 Seattle WA, WA                   16553  2.733296e+06  104941  2.747755e+06

In [66]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Sale,City,State
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",12,1700.00,"New York City NY, NY",NY
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12,600.00,"New York City NY, NY",NY
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12,11.95,"New York City NY, NY",NY
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12,149.99,"San Francisco CA, CA",CA
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95,"Atlanta GA, GA",GA

In [70]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [75]:
df['Hour'] = df['Order Date'].dt.hour

In [83]:
hours_df = df.groupby('Hour').sum()

hours_df

      Quantity Ordered  Price Each  Month  Total Sale
Hour
0                 4428   709296.70  27554   713721.27
1                 2619   458490.00  16657   460866.88
2                 1398   233833.64   8507   234851.44
3                  928   144726.42   5904   145757.89
4                  937   162058.18   6148   162661.01
5                 1493   229621.21   9301   230679.82
6                 2810   445000.11  17539   448113.00
7                 4556   740568.11  28850   744854.12
8                 7002  1185970.62  43626  1192348.97
9                 9816  1628498.49  60981  1639030.58
10               12308  1932665.62  76928  1944286.77
11               14005  2288855.18  87654  2300610.24
12               14202  2299876.68  89161  2316821.34
13               13685  2139743.86  85808  2155389.80
14               12362  2072194.77  77836  2083672.73
15               11391  1931174.99  72060  1941549.60
16               11662  1892454.54  72939  1904601.31
17               12229  2116777.02  77454  2129361.61
18               13802  2207696.93  86421  2219348.30
19               14470  2398588.31  91389  2412938.54
20               13768  2268185.16  86375  2281716.24
21               12244  2030763.83  77103  2042000.86
22                9899  1599464.44  62088  1607549.21
23                7065  1172625.87  44364  1179304.44

In [86]:
hours_df.sort_values(by=['Total Sale'], ascending=False)

      Quantity Ordered  Price Each  Month  Total Sale
Hour
19               14470  2398588.31  91389  2412938.54
12               14202  2299876.68  89161  2316821.34
11               14005  2288855.18  87654  2300610.24
20               13768  2268185.16  86375  2281716.24
18               13802  2207696.93  86421  2219348.30
13               13685  2139743.86  85808  2155389.80
17               12229  2116777.02  77454  2129361.61
14               12362  2072194.77  77836  2083672.73
21               12244  2030763.83  77103  2042000.86
10               12308  1932665.62  76928  1944286.77
15               11391  1931174.99  72060  1941549.60
16               11662  1892454.54  72939  1904601.31
9                 9816  1628498.49  60981  1639030.58
22                9899  1599464.44  62088  1607549.21
8                 7002  1185970.62  43626  1192348.97
23                7065  1172625.87  44364  1179304.44
7                 4556   740568.11  28850   744854.12
0                 4428   709296.70  27554   713721.27
1                 2619   458490.00  16657   460866.88
6                 2810   445000.11  17539   448113.00
2                 1398   233833.64   8507   234851.44
5                 1493   229621.21   9301   230679.82
4                  937   162058.18   6148   162661.01
3                  928   144726.42   5904   145757.89

In [100]:
multiple_items_df = df[df['Order ID'].duplicated(keep=False)]

In [102]:
multiple_items_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Sale,City,State,Hour
16,295681,Google Phone,1,600.00,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,600.00,"Boston MA, MA",MA,12
17,295681,USB-C Charging Cable,1,11.95,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,11.95,"Boston MA, MA",MA,12
18,295681,Bose SoundSport Headphones,1,99.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,99.99,"Boston MA, MA",MA,12
19,295681,Wired Headphones,1,11.99,2019-12-25 12:37:00,"79 Elm St, Boston, MA 02215",12,11.99,"Boston MA, MA",MA,12
36,295698,Vareebadd Phone,1,400.00,2019-12-13 14:32:00,"175 1st St, New York City, NY 10001",12,400.00,"New York City NY, NY",NY,14

In [103]:
multiple_items_df['grouped'] = multiple_items_df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [104]:
multiple_items_df['grouped']

16        Google Phone,USB-C Charging Cable,Bose SoundSp...
17        Google Phone,USB-C Charging Cable,Bose SoundSp...
18        Google Phone,USB-C Charging Cable,Bose SoundSp...
19        Google Phone,USB-C Charging Cable,Bose SoundSp...
36                     Vareebadd Phone,USB-C Charging Cable
37                     Vareebadd Phone,USB-C Charging Cable
42         AA Batteries (4-pack),Bose SoundSport Headphones
43         AA Batteries (4-pack),Bose SoundSport Headphones
66                          iPhone,Lightning Charging Cable
67                          iPhone,Lightning Charging Cable
76         iPhone,Apple Airpods Headphones,Wired Headphones
77         iPhone,Apple Airpods Headphones,Wired Headphones
78         iPhone,Apple Airpods Headphones,Wired Headphones
80                          iPhone,Lightning Charging Cable
81                          iPhone,Lightning Charging Cable
97          34in Ultrawide Monitor,Lightning Charging Cable
98          34in Ultrawide Monitor,Lightning Charging Cable
104             Bose SoundSport Headphones,Wired Headphones
105             Bose SoundSport Headphones,Wired Headphones
129                    Vareebadd Phone,USB-C Charging Cable
130                    Vareebadd Phone,USB-C Charging Cable
133           USB-C Charging Cable,Apple Airpods Headphones
134           USB-C Charging Cable,Apple Airpods Headphones
141                       Google Phone,USB-C Charging Cable
142                       Google Phone,USB-C Charging Cable
166                       USB-C Charging Cable,20in Monitor
167                       USB-C Charging Cable,20in Monitor
172                           Google Phone,Wired Headphones
173                           Google Phone,Wired Headphones
180                       Google Phone,USB-C Charging Cable
                                ...
186477    Vareebadd Phone,USB-C Charging Cable,Wired Hea...
186478    Vareebadd Phone,USB-C Charging Cable,Wired Hea...
186479    Vareebadd Phone,USB-C Charging Cable,Wired Hea...
186560                      iPhone,Lightning Charging Cable
186561                      iPhone,Lightning Charging Cable
186615                      iPhone,Lightning Charging Cable
186616                      iPhone,Lightning Charging Cable
186625                 Vareebadd Phone,USB-C Charging Cable
186626                 Vareebadd Phone,USB-C Charging Cable
186670        27in 4K Gaming Monitor,AAA Batteries (4-pack)
186671        27in 4K Gaming Monitor,AAA Batteries (4-pack)
186673                    Google Phone,USB-C Charging Cable
186674                    Google Phone,USB-C Charging Cable
186718         AA Batteries (4-pack),27in 4K Gaming Monitor
186719         AA Batteries (4-pack),27in 4K Gaming Monitor
186744    Vareebadd Phone,USB-C Charging Cable,Wired Hea...
186745    Vareebadd Phone,USB-C Charging Cable,Wired Hea...
186746    Vareebadd Phone,USB-C Charging Cable,Wired Hea...
186751                              iPhone,Wired Headphones
186752                              iPhone,Wired Headphones
186798          27in FHD Monitor,Bose SoundSport Headphones
186799          27in FHD Monitor,Bose SoundSport Headphones
186804                      iPhone,Apple Airpods Headphones
186805                      iPhone,Apple Airpods Headphones
186819       Apple Airpods Headphones,AA Batteries (4-pack)
186820       Apple Airpods Headphones,AA Batteries (4-pack)
186822                    Google Phone,USB-C Charging Cable
186823                    Google Phone,USB-C Charging Cable
186842                      iPhone,Lightning Charging Cable
186843                      iPhone,Lightning Charging Cable
Name: grouped, Length: 14649, dtype: object

In [113]:
multiple_items_df = multiple_items_df[['Order ID', 'grouped']]

TypeError: 'method' object is not subscriptable

In [116]:
multiple_items_df()

       Order ID                                            grouped
16       295681  Google Phone,USB-C Charging Cable,Bose SoundSp...
36       295698               Vareebadd Phone,USB-C Charging Cable
42       295703   AA Batteries (4-pack),Bose SoundSport Headphones
66       295726                    iPhone,Lightning Charging Cable
76       295735   iPhone,Apple Airpods Headphones,Wired Headphones
80       295737                    iPhone,Lightning Charging Cable
97       295753    34in Ultrawide Monitor,Lightning Charging Cable
104      295759        Bose SoundSport Headphones,Wired Headphones
129      295783               Vareebadd Phone,USB-C Charging Cable
133      295786      USB-C Charging Cable,Apple Airpods Headphones
141      295793                  Google Phone,USB-C Charging Cable
166      295817                  USB-C Charging Cable,20in Monitor
172      295822                      Google Phone,Wired Headphones
180      295829                  Google Phone,USB-C Charging Cable
272      295918       AA Batteries (4-pack),AAA Batteries (4-pack)
287      295932  Apple Airpods Headphones,Bose SoundSport Headp...
308      295952                 USB-C Charging Cable,Flatscreen TV
348      295991                    iPhone,Lightning Charging Cable
439      296081                        Flatscreen TV,Flatscreen TV
494      296135     AA Batteries (4-pack),Lightning Charging Cable
501      296141  Lightning Charging Cable,Bose SoundSport Headp...
505      296144                    iPhone,Apple Airpods Headphones
514      296152      USB-C Charging Cable,Lightning Charging Cable
550      296187                  Google Phone,USB-C Charging Cable
627      296263                      Google Phone,Wired Headphones
632      296267             Flatscreen TV,Lightning Charging Cable
642      296276               Vareebadd Phone,USB-C Charging Cable
723      296353  iPhone,Lightning Charging Cable,Wired Headphon...
727      296354               Vareebadd Phone,USB-C Charging Cable
764      296390                            iPhone,Wired Headphones
...         ...                                                ...
186279   222375            27in 4K Gaming Monitor,Wired Headphones
186284   222379          Lightning Charging Cable,Wired Headphones
186296   222390                      Wired Headphones,20in Monitor
186322   222415  Google Phone,USB-C Charging Cable,Wired Headph...
186344   222435        USB-C Charging Cable,AAA Batteries (4-pack)
186348   222438        Lightning Charging Cable,Macbook Pro Laptop
186353   222442                    iPhone,Lightning Charging Cable
186363   222451                    iPhone,Lightning Charging Cable
186369   222456              USB-C Charging Cable,27in FHD Monitor
186378   222464        USB-C Charging Cable,34in Ultrawide Monitor
186384   222469                    iPhone,Lightning Charging Cable
186389   222473                  Google Phone,USB-C Charging Cable
186413   222496                    iPhone,Apple Airpods Headphones
186435   222517                  Google Phone,USB-C Charging Cable
186446   222527  Google Phone,USB-C Charging Cable,Bose SoundSp...
186452   222531               Vareebadd Phone,USB-C Charging Cable
186477   222555  Vareebadd Phone,USB-C Charging Cable,Wired Hea...
186560   222635                    iPhone,Lightning Charging Cable
186615   222688                    iPhone,Lightning Charging Cable
186625   222697               Vareebadd Phone,USB-C Charging Cable
186670   222741      27in 4K Gaming Monitor,AAA Batteries (4-pack)
186673   222743                  Google Phone,USB-C Charging Cable
186718   222787       AA Batteries (4-pack),27in 4K Gaming Monitor
186744   222812  Vareebadd Phone,USB-C Charging Cable,Wired Hea...
186751   222817                            iPhone,Wired Headphones
186798   222863        27in FHD Monitor,Bose SoundSport Headphones
186804   222868                    iPhone,Apple Airpods Headphones
186819   222882     Apple Airpods Headphones,AA Batteries (4-pack)
186822   222884                  Google Phone,USB-C Charging Cable
186842   222903                    iPhone,Lightning Charging Cable

[7136 rows x 2 columns]