In [2]:
import pandas as pd
import os
import glob

### 1     Merging CSVs

https://www.techbeamers.com/pandas-merge-csv-files/

In [15]:
#pd.read_csv('./Sales_Data/Sales_April_2019.csv')

In [3]:
path = './Sales_Data/'

In [4]:
list_of_files = [file for file in os.listdir(path)]
print(list_of_files)

['Sales_December_2019.csv', 'Sales_April_2019.csv', 'Sales_February_2019.csv', 'Sales_March_2019.csv', 'Sales_August_2019.csv', 'Sales_May_2019.csv', 'Sales_November_2019.csv', 'Sales_October_2019.csv', 'Sales_January_2019.csv', 'Sales_September_2019.csv', 'Sales_July_2019.csv', 'Sales_June_2019.csv']

In [5]:
filenames = glob.glob(path + "/*.csv")

In [6]:
print(filenames)

['./Sales_Data/Sales_December_2019.csv', './Sales_Data/Sales_April_2019.csv', './Sales_Data/Sales_February_2019.csv', './Sales_Data/Sales_March_2019.csv', './Sales_Data/Sales_August_2019.csv', './Sales_Data/Sales_May_2019.csv', './Sales_Data/Sales_November_2019.csv', './Sales_Data/Sales_October_2019.csv', './Sales_Data/Sales_January_2019.csv', './Sales_Data/Sales_September_2019.csv', './Sales_Data/Sales_July_2019.csv', './Sales_Data/Sales_June_2019.csv']

In [7]:
li = []

for filename in filenames:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)

In [11]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [12]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [26]:
print(df['Order Date'][0])
print(df['Order Date'][0][:2])
int(df['Order Date'][0][:2])

12/30/19 00:01
12

12

# What was best month for sales?

In [41]:
type(df['Order Date'].str[:2])

pandas.core.series.Series